<header class="header">
  <figure class="header-logo">
    <img src="assets/logo/LogoMenu.png" alt="Logo de aplicacion" width="100px"/>
  </figure>

  <nav class="navbar">
    <ul class="nav-list">
      <li><i class="mdi mdi-download"></i><a href="#">Descargas</a></li>
      <li><i class="mdi mdi-bank"></i><a href="#">Financiero</a></li>
      <li><i class="mdi mdi-headphones"></i><a href="#">Soporte</a></li>
    </ul>
  </nav>

  <div class="nav__mobile">
    <i class="mdi mdi-menu"></i>
  </div>
</header>
