<footer class="footer">
    <div class="footer__container">
        <div class="left">
            <ul class="info">
                <li><i class="mdi mdi-phone"></i>¡Llamanos ahora! +57 314 1234567</li>
                <li><i class="mdi mdi-email-outline"></i>infoPlayTechla.com</li>
            </ul>
        </div>

        <div class="right">
            <ul class="icono">
                <li><img src="assets\logo\instagram.svg" alt="facebook"></li>
                <li><img src="assets\logo\facebook.svg" alt=""></li>
                <li><img src="assets\logo\twiter.svg" alt=""></li>
                <li><img src="assets\logo\whatsapp.svg" alt=""></li>

            </ul>
        </div>
    </div>
</footer>
