<div class="formulario">
    <h1>Inicio de sesión</h1>
    <form method="post">
        <div class="username">
            <input placeholder="Ingresa tu usuario" type="text" maxlength="20" pattern="[a-zA-Z0-9]+" title="Maximo 20 caracteres sin espacios ni caracteres especiales" required>
            <label>Usuario*</label>
        </div>
        <div class="username">
            <input placeholder="Ingresa tu contraseña" type="password" maxlength="20" pattern="[a-zA-Z0-9]+" required>
            <label>Clave*</label>
        </div>
        <div class="recordar">¿Olvido su contraseña?</div>
        <input type="submit" value="Validar">
    </form>
</div>
